* {
    box-sizing: border-box;
}

.topbar {
    display: flex;
    background-color:red;
}

#main-header {
    background-color:white;  
 
}

header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #000; 
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
    padding-left: 7px;
    font-weight: normal;
}

.container span {
    font-size: 30px;
}

ul {
    list-style-type:none;
    border: 0px;
}

li {
    display: inline;
    height: fit-content;
    margin-right: 2rem;
}

.artist {
    align-items: center;
    padding-top: 2em;
    line-height: 0em;
}

a:link {
     text-decoration: none;
 }


a:visited {
     text-decoration: none;
      color: black; 
 }


a:hover {
     text-decoration: none; 
     color: violet
}


a:active {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border-radius: 60%;
    width: 80px;
    height: 80px;
}

.image-main {
    height: 20rem ;
    width: 20rem;
    border-radius: 50%;
 }

 .inst {
    font-size: 2rem;
 }

 .textcenter {
    margin-top: 1.5rem;
 }

.artist-title-wrapper {
}

.artist-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}
  

.artist-page-played-with_header {
    font-size: 1.5rem;
}

.artistpic {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    height: 100%;
}

.artist-wrapper {
    display: flex;
    justify-content: space-between;
}


.boxright{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.boxcenter {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.boxleft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.box {
    padding: 1rem 1.5rem;
}

.songs {
    display: flex;
    margin: auto auto 2rem 0;
}

.song {
    margin-right: 2rem;
    font-size: 1.2rem;
}