*{
    box-sizing: border-box;
}

.topbar {
    display: flex;
    background-color:red;
}

#main-header {
    background-color:white;  
 
}

header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #000; 
}

h1 {font-weight: normal;}

.container {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
    padding-left: 7px;
    font-weight: normal;
}

.container span {
    font-size: 30px;
}

ul {
    list-style-type:none;
    border: 0px;

}

li {
    display: inline;
    height: fit-content;
    margin-right: 50px;

  }

.artist {
    align-items: center;
    padding-top: 2em;
    line-height: 0em;
}

a:link {
     text-decoration: none;
 }


a:visited {
     text-decoration: none;
      color: black; 
 }


a:hover {
     text-decoration: none; 
     color: violet
}


a:active {
     text-decoration: none;
 }

 img {
    border-radius: 60%;
    width: 80px;
    height: 80px;
}

 .image1 {
    margin-top: 30px;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
    border-radius:50%;
 }

  .boxleft {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: space-around;
    align-items: start;
    padding-right: 70px;
    display: inline-block;
      flex: 1 0 100px;
 } 
 
 tr {
    margin-left: 80px;
    font-size: 25px;
 }

 .inst {
    margin-left: 50px;
    font-size: 25px;
    bottom: 5px;
 }


 .boxcenter {
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    display: inline-block;
    flex: 1 0 100px;
 }

 .textcenter {
    height: 15em;
 }
  
 .inst {
    margin-left: 50px;
    font-size: 25px;
 }

.boxright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: inline-block;
   flex: 1 0 100px;
}
   

.artist-page-played-with_header {
    font-size: medium;
    height: 11em;
    padding-left: 100px;
    margin: 10px;
}

.artistpic {
    display: flex;
    flex-direction: column;   
    padding-left: 100px;
    padding-bottom: 30px; 
}

.wrapper {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

